# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

assets/button/button all layers.pdn
assets/button/button-active-green-small.png
assets/button/button-active-green.png
assets/button/button-active-hover-small.png
assets/button/button-active-hover.png
assets/button/button-active-small.png
assets/button/button-active.png
assets/button/button-inactive - Copy.png
assets/button/button-inactive-hover - Copy.png
assets/button/button-inactive-hover-small.png
assets/button/button-inactive-hover.png
assets/button/button-inactive-small.png
assets/button/button-inactive.png
assets/doughnut/doughnut-all-layers.pdn
assets/street/street layers.pdn
assets/cop/cop-spritesheet-layers.pdn
assets/cop/cop-layers.pdn
assets/cop/menu image temp.png
assets/RocknRoll/OFL.txt
assets/RocknRoll/RocknRollOne-Regular.ttf
assets/cop/explode-layers.pdn
